.page {
  padding-top:60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fff;
  &.home{
    display: flex;
    // height: 100%;
    width: 100%;
    place-content: center;
    align-items: center;
    &>div{
      background-color: var(--primary-color);
      padding: 1rem;
      border-radius: 4px;
    }
    form {
      display: flex;
      width: 350px;
      height: 250px;
      flex-direction: column;
      div {
        display: flex;
        place-content: space-evenly;
        padding: 1rem 5px;
        input {
          padding: 8px;
          &[type=text], &[type=password]{
            width: 100%;
          }
        }
      }
    }
  }

  &.new-driver {
    display: flex;
    place-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      width:250px;
      span {
        display: block;
        padding:10px;
        input, textarea {
          width: 100%;
          padding: 8px;
          border-radius: 4px;
          box-shadow: var(--soft-border);
          background-color: #fff;
          color: #333;
          border: 0;
        }
        button {
          height: 100%;
        }
      }
    }
  }

  &.stats {
    background-color: #fff;
    width: 1080px;
    place-content: center;
    padding-top: 30px;

    [id^=canvasContainer] {
      margin: auto;
    }
  }

  &.config {
    background-color: #fff;
    .pane {
      background-color: var(--primary-color);
    }
  }
}